################ Model Configuration ################
image_size=224
image_class=32
is_similarity_metric=False

################ Training Settings ################
epoch=2
batch_size=32
dropout=0.5
learning_rate=0.01

checkpoints_max_to_keep=3
print_per_batch=10

is_early_stop=True
patient=10

do_train=False
do_val=True
do_test=True
is_scratch_train=False

################ Datasets(Input/Output) ################
data_folder=rocks3.0.6_tvt
checkpoints_dir=checkpoints/rocks3.0.6_tvt
checkpoint_name=model.ckpt

